



<%- include('layouts/header') %>
<body>
    <div class="container mt-5">
        <a href="/create" class="btn btn-secondary btn">Add Company</a>
        <h1>Company List</h1>

        <!-- Search Form -->
        <form action="/" method="GET" class="mb-4 border p-4 bg-secondary rounded">
            <div class="row">
                <div class="col-md-3 mb-2">
                    <label for="Category" class="px-2 py-2 rounded bg-white m-2">Category :</label> <br>
                    <select  id="category" class="form-control" name="category" placeholder="placeholder"  >
                        <option value=""></option>
                        <% companyfields.forEach(e=>{ %>        
                        <option value="<%= e.category %>"  <%= e.category==searchParams.category ? 'selected' : '' %> ><%= e.category %></option>
                        <% } ) %>
                    </select>
                </div>
                <!-- <div class="col-md-3 mb-2">
                    <input type="number" step="0.01" class="form-control" name="capital" placeholder="Capital" value="<%= searchParams.capital %>">
                </div> -->
                <div class="col-md-3 mb-2">
                    <label for="city" class="px-2 py-2 rounded bg-white m-2">City :</label> <br>
                    <select  id="city" class="form-control" name="city" >
                        <option value=""></option>
                        <% companyfields.forEach(e=>{ %>        
                        <option value="<%= e.city %>"  <%= e.city==searchParams.city ? 'selected' : '' %> ><%= e.city %></option>
                        <% } ) %>
                    </select>
                </div>

                <div class="col-md-3 mb-2">
                    <label for="country" class="px-2 py-2 rounded bg-white m-2">country :</label> <br>
                    <select  id="country" class="form-control" name="country" >
                        <option value=""></option>
                        <% companyfields.forEach(e=>{ %>        
                        <option value="<%= e.country %>"  <%= e.country==searchParams.country ? 'selected' : '' %> ><%= e.country %></option>
                        <% } ) %>
                    </select>
                </div>

                <div class="col-md-3 mb-2">
                    <label for="Activity" class="px-2 py-2 rounded bg-white m-2 ">Activity :</label> <br>
                    <select  id="activity" class="form-control" name="activity" >
                        <option value=""></option>
                        <% companyfields.forEach(e=>{ %>        
                        <option value="<%= e.activity %>"  <%= e.activity==searchParams.activity ? 'selected' : '' %> ><%= e.activity %></option>
                        <% } ) %>
                    </select>
                </div>

                <!-- <div class="col-md-3 mb-2">
                    <input type="number" class="form-control" name="numberSalarie" placeholder="Number of Employees" value="<%= searchParams.numberSalarie %>">
                </div> -->
       
                 
            </div>
             <div class="row  mb-2 mt-2 d-flex justify-content-center items-center ">
                <div class="col-md-4">
                      <button type="submit" class="btn btn-primary w-100 ">Search</button>
                </div>
                  
                </div>
        </form>


<section class="position-relative pt-0">
	<div class="container">
		<div class="row">
			<!-- Card item START -->


            <% companies.forEach(company => { %>
			<div class="col-sm-6 col-lg-3 mx-4">
				<div class="card mb-4">
					<!-- Card img -->
					<div class=" position-relative mx-4">
						<img class="rounded-circle" width="100px" height="100px"  src="/uploads/<%= company.logo %>" alt="Card image">
					</div>
                    <div class="card-body rounded ">
                        <h5 class="card-title"><%= company.companyName %></h5>
                        <p class="card-text"><strong>Activity:</strong> <%= company.activity %></p>
    
                        <p class="card-text"><strong>Category:</strong> <%= company.category %></p>
                        <p class="card-text"><strong>City:</strong> <%= company.city %></p>
                    
                
                        <p class="card-text"><strong>Date Creation:</strong> <%= company.dateCreation %></p>
    
                    
            
                            <a href="/edit/<%= company.id %>" class="btn btn-warning btn-sm">Edit</a>
                            <a href="/delete/<%= company.id %>" class="btn btn-danger btn-sm">Delete</a>
                            <a href="/show/<%= company.id %>" class="btn btn-info btn-sm">View</a>
                        
                    </div>
				</div>
			</div>
			<!-- Card item END -->

            <% }) %>


       


		</div> <!-- Row end -->

        <div>

                 <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage - 1 %>&<%= queryString %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                <% } %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>&<%= queryString %>"><%= i %></a>
                    </li>
                <% } %>
                <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage + 1 %>&<%= queryString %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
        


</section>
<!-- =======================


   
</body>
</html>