<%- include('layouts/header') %>
<body>

    <div class="container mt-5 rounded border  "> 
        <a href="/" class="btn btn-primary">Back to List</a>
        <h1>Company Details</h1>
       
        <div class="mb-3 col-md-6 ">
            
            <% if (company.logo) { %>
            <img src="/uploads/<%= company.logo %>" alt="logo" width="500" >
            <% } else { %>
            <p>No logo uploaded</p>
            <% } %>
        </div>


        <div class="mb-3  border  p-2 ">
            <label class="form-label">Company Name</label>
            <p><%= company.companyName %></p>
        </div>
        <div class="mb-3 border  p-2">
            <label class="form-label">Activity</label>
            <p><%= company.activity %></p>
        </div>
        <div class="mb-3 border  p-2">
            <label class="form-label">Status</label>
            <p><%= company.status %></p>
        </div>
        <div class="mb-3 border  p-2">
            <label class="form-label ">Category</label>
            <p><%= company.category %></p>
        </div>
        <div class="mb-3 border  p-2 ">
            <label class="form-label">Address</label>
            <p><%= company.address %></p>
        </div>
        <div class="mb-3 border  p-2">
            <label class="form-label">City</label>
            <p><%= company.city %></p>
        </div>
        <div class="mb-3 border  p-2">
            <label class="form-label">Country</label>
            <p><%= company.country %></p>
        </div>
        <div class="mb-3 border  p-2">
            <label class="form-label">Telephone 1</label>
            <p><%= company.tel1 %></p>
        </div>
        <div class="mb-3 border  p-2">
            <label class="form-label">Telephone 2</label>
            <p><%= company.tel2 %></p>
        </div>
        <div class="mb-3 border  p-2">
            <label class="form-label">Email</label>
            <p><%= company.email %></p>
        </div>
        <div class="mb-3 border  p-2">
            <label class="form-label">Capital</label>
            <p><%= company.capital %></p>
        </div>
        <div class="mb-3 border  p-2">
            <label class="form-label">Date of Creation</label>
            <p><%= company.dateCreation.toDateString() %></p>
        </div>
        <div class="mb-3 border p-2">
            <label class="form-label">Number of Employees</label>
            <p><%= company.numberSalarie %></p>
        </div>
     
    </div>
</body>
</html>
